body{
    font:20px Arial, sans-serif
}
.navbar {
    background-color: blue;
    font-size: 24px;
   
}
.quem-somos{
    background-color: 	#004f9e;
    color: cyan;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: cornflowerblue;
}
.servicos{
    background-color: lightskyblue;
}